attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.1
evdev==1.4.0
Flask==2.0.1
Flask-JWT-Extended==4.3.1
Flask-Limiter==2.2.0
Flask-Login==0.6.0
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
idna==3.3
importlib-metadata==4.6.4
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
ldap3==2.9.1
libusb1==1.9.3
limits==2.4.0
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-sqlalchemy==0.28.0
ndeflib==0.3.3
nfcpy==1.0.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pyDes==2.0.1
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.7
pyserial==3.5
PySimpleGUI==4.56.0
pytest==7.1.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
tomli==2.0.1
typing-extensions==3.10.0.0
urllib3==1.26.9
uWSGI==2.0.20
Werkzeug==2.0.1
WTForms==3.0.1
zipp==3.5.0
cryptography