cryptography==2.6.1
Pygments==2.3.1
evdev==1.4.0
numpy==1.16.2
lxml==4.3.2
argcomplete==1.12.3
atomicwrites==1.4.0
blinker==1.4
brotli==1.0.9
contextvars==2.4
Cython==0.29.24
dataclasses==0.8
docutils==0.17.1
eventlet==0.31.1
gevent==21.8.0
greenlet==1.1.1
hid==1.0.4
lockfile==0.12.2
ordereddict==1.1
ox_profile==0.2.6
pexpect==4.8.0
protobuf==3.17.3
pudb==2021.1
PyContracts==1.8.12
pyDes==2.0.1
PyInstaller==4.5.1
pyOpenSSL==20.0.1
python-dotenv==0.19.0
railroad==0.5.0
secrets==1.0.2
tornado==6.1
Twisted==21.7.0
watchdog==2.1.4
zope==5.3
